body {
  margin: 0;
}
.App {
  background-color: #333;
  color: #fff;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 50px;
}

.generate-button {
  background-color: #ff4400;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  padding: 15px 50px;
  transition: all 0.3s ease-in-out;
}

.generate-button:hover {
  box-shadow: 0 0 5px 5px #ff4400, 0 0 10px 10px #e6b800, 0 0 15px 15px #cc9b00;
}

.generate-button:active {
  box-shadow: 0 0 5px 5px #cc9b00, 0 0 10px 10px #cc9b00, 0 0 15px 15px #cc9b00;
}
